---
import Layout from "../components/Layout.astro";
---

<Layout title="About me">
  <h1>About me</h1>
  <p>
    My name is X and I am an aspiring developer. I am learning to build a basic website
    and deploy it using Docker on a friByte workshop.
  </p>
</Layout>

<style>
  * {
    text-align: left;
  }
</style>
