---
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
    // Code added to script tag will be loaded as client side code
    // While code in the `---` block above will only run server side during build time
    import JSConfetti from "js-confetti";

    if (!window.location.host.includes("localhost") && !window.location.host.includes("127.0.0.1")) {
        const confetti = new JSConfetti();
        setInterval(() => {
            confetti.addConfetti();
        }, 1000);
    }
</script>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- env insertion point is where Environment variables for the docker image will be inserted -->
    <noscript id="env-insertion-point"></noscript>

    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: "Poppins", sans-serif;
    background: #1c1d23;
  }
  body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #f1f1f1;
  }
  main {
    text-align: center;
    padding: 0 2rem;
  }
</style>
